@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/Montserrat-Regular.otf');
  font-family: 'Montserrat-bold';
  src: url('../fonts/montserrat-bold.otf');
  font-family: 'Montserrat-light';
  src: url('../fonts/montserrat-light.otf');
}

$font-mon-r: "Montserrat-regular", Helvetica, Sans-Serif;
$font-mon-b: "Montserrat-bold", Helvetica, Sans-Serif;
$font-mon-l: "Montserrat-light", Helvetica, Sans-Serif;

$font-serif-main: "Book Antiqua", Georgia, Serif;
$font-serif-sec: "Georgia", Book Antiqua, Serif;

$gold-color: #BFAD9F;
$text-color: #9A9A9A;

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
  transition: all 0.33s ease;
}

a:hover, a:focus {
  text-decoration: none;
  color: darken($text-color, 25%);
}

img {
  transition: all 0.5s ease;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: $font-serif-main;
  font-size: 1.3em;
}

p, pre {
  font-family: $font-serif-sec;
}

.container {
  max-width: 1000px;
}

.col-md-10 {
  padding: 0;
  max-width: 770px;
}

//////////////////////////////////////site-header
.site-header {
  height: 200px;
  padding-top: 10%;
}

.site-header::after {
  content: "";
  display: block;
  border-top: 1px solid #ededed;
  background: url("../img/assets/h-shadow.png") no-repeat 100% 100%;
  height: 70px;
}

.logo {
  float: left;
  display: block;
  text-align: center;
}

.header-nav {
}

.site-nav {
  float: right;
  margin: 40px 0 10px 0;
}

.site-nav > li {
  display: inline-block;
  width: 85px;
  height: 25px;
  text-align: center;
}

.site-nav > li > a {
  display: block;
  font-family: $font-mon-r;
  text-transform: uppercase;
  font-size: .9em;
}


//////////////////////////////////////site main
.site-main {
  margin-top: 20px;
}

.main-article {
  margin-top: 30px;
}

.main-article-header {
  text-align: center;
}

.main-article-header-h1 {
  font-weight: 500;
}

.main-article-header-h3 {
  margin-top: .4em;
  font-size: 0.9em;
  font-weight: 400;
  color: $gold-color;
}

.main-article-content-p {
  margin-top: 1.5em;
  line-height: 1;
  font-size: .95em;
  word-wrap: break-word;
  text-align: justify;
}

.main-article-content-img {
  display: inline-block;
  width: 100%;
  margin-left: -4px;
  margin-top: 3px;
  font-size: 0;
}

.main-article-footer {
  font-family: $font-mon-r;
  padding-top: 15px;
  font-size: .9em;
}

.main-article-social-icon {
  float: left;
}

.main-article-social-icon > li {
  display: inline-block;
  padding-left: 3px;
  vertical-align: bottom;
}

.fb-like {
  display: block;
  background: url("../img/assets/fb-like.png") no-repeat;
  width: 100px;
  height: 20px;
}

.clearfix {
  margin-top: 35px;
  clear: both;
}

.main-article-liveacomment {
  float: right;
  margin-top: 4px;
}

.article-bot-border {
  margin-top: 1em;
  border-top: 1px solid #ededed;
  height: 72px;
  width: 100%;
  background: url("../img/assets/h-shadow.png") no-repeat center;
}

.nav-buttons {
  margin-top: 20px;
  clear: both;
}

.nav-buttons::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ededed;
  background: url("../img/assets/h-shadow2.png") no-repeat 100% 100%;
  height: 60px;
}

////////////////////////////////////side-bar
.right-bar {
  margin-top: 80px;
  margin-left: 55px;
  padding: 0;
  text-align: center;
  font-family: $font-mon-r;
}

.right-bar-cat-name {
  font-family: $font-mon-l;
  font-size: .9em;
  line-height: 2;
}

.right-bar-cat-name a {
  display: block;
  cursor: pointer;
}

.right-bar-fol {
  margin-top: 30px;
}

.right-bar-social-links > li {
  display: inline-block;
}

.right-bar-photo-in {
  margin-top: 30px;
  font-weight: 500;
}

.right-bar-photo-in a {
  display: block;
}

.right-bar-photo-in img {
  margin-top: 15px;
  overflow: hidden;

}

.right-bar-photo-in img:hover,
.right-bar-photo-in img:focus, {
  filter: contrast(110%);
}

.right-bar-photo-per-in {
  margin-top: 30px;
  font-weight: 500;
}

.right-bar-photo-per-in img:hover,
.right-bar-photo-per-in img:focus, {
  filter: contrast(110%);
}

.right-bar-photo-per-in a {
  display: block;
}

.right-bar-photo-per-in a:first-child {
  padding-left: 20px;
}

.elem-2 {
  background: url("../img/assets/elem-2.png") no-repeat;
  background-position: 13px 8px;
}

.right-bar-photo-per-in img {
  margin-top: 15px;
}

.right-bar-contact {
  display: block;
  margin: 30px 0 0 -20px;
  line-height: 1.5;
  font-weight: 500;
}

.right-bar-contact::after {
  content: '';
  position: absolute;
  background: url("../img/assets/sprites.png") no-repeat;
  background-position: -212px -215px;
  width: 26px;
  height: 20px;
  margin-left: 5px;
}

.right-bar-search {
  display: block;
  margin: 30px auto 10px auto;
}

.elem-1 {
  margin: 0 auto;
  margin-top: 10px;
}

.right-bar-search-input {
  border: 1px solid #ebebeb;
  background: #f6f6f6;
  border-radius: 2px;
}

.right-bar-search-input:focus,
.right-bar-search-input:active,
.right-bar-search-input:hover {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1),
  0 0 4px rgba(0, 0, 0, 0.1);
  outline: 0;
}

//////////////////////////////////////archive
.archive {
  font-family: $font-mon-l;
  text-align: center;
}

.archive-header {
  margin-top: -45px;
  font-family: $font-mon-r;
  color: $gold-color;
  font-weight: 400;
  text-align: center;
  font-size: .95em;
}

.archive-header > li {
  display: inline-block;
  vertical-align: middle;
}

.archive-item {
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}

.archive-item h3 {
  font-size: .8em;
  font-weight: 400;
  line-height: 3;
  text-align: center;
}

.archive-item img {
  filter: gray;
  filter: grayscale(100%);
}

.archive-item img:hover {
  filter: color;
  filter: grayscale(0%);
}

.nav-buttons {
  line-height: 4;
  font-weight: 500;
}

.nav-buttons .newer {
  float: left;
  color: $gold-color;
}

.nav-buttons .newer:hover,
.nav-buttons .newer:focus {
  color: darken($gold-color, 25%);
}

.nav-buttons .newer::before {
  content: " ";
  display: inline-block;
  margin-right: 5px;
  background-image: url("../img/assets/sprites.png");
  background-position: -319px -71px;
  width: 9px;
  height: 7px;
}

.nav-buttons .older {
  float: right;
  color: $gold-color;
}

.nav-buttons .older:hover,
.nav-buttons .older:focus {
  color: darken($gold-color, 25%);
}

.nav-buttons .older::after {
  content: " ";
  display: inline-block;
  margin-left: 5px;
  background-image: url("../img/assets/sprites.png");
  background-position: -369px -71px;
  width: 9px;
  height: 7px;
}

//////////////////////////////////////footer
.site-footer {
  font-family: $font-mon-l;
  text-align: center;
  margin-top: 90px;
}

.sign {
  font-size: .7em;
  line-height: 4;
}

.right-bar-social-links::after {
  content: "";
  display: block;
  margin-bottom: 20px;

}

//////////////////////////////////////sprites
.top-hower,
.top,
.arrow-right,
.arrow-left,
.pi-mouse-down,
.pi-normal,
.posts,
.also,
.leaf,
.envelop,
.blog-btn,
.elem-1,
.follow-me,
.search,
.Categories,
.facebook-mouse-down,
.facebook-normal,
.instagram-mouse-down,
.instagram-normal,
.vk-mouse-down,
.vk-normal {
  background: url("../img/assets/sprites.png") no-repeat;
  display: block;
  transition: none;
}

.top-hower {
  background-position: -324px -109px;
  width: 63px;
  height: 33px;
}

.top {
  background-position: -226px -110px;
  width: 63px;
  height: 33px;
}

.arrow-right {
  background-position: -369px -71px;
  width: 9px;
  height: 7px;
}

.arrow-left {
  background-position: -319px -71px;
  width: 9px;
  height: 7px;
}

.pi-normal:hover,
.pi-normal:focus {
  background-position: -365px -13px;
  width: 25px;
  height: 23px;
}

.pi-normal {
  background-position: -313px -13px;
  width: 25px;
  height: 23px;
}

.posts {
  background-position: -277px -156px;
  width: 107px;
  height: 39px;
}

.also {
  background-position: -170px -156px;
  width: 77px;
  height: 40px;
}

.leaf {
  background-position: -221px -55px;
  width: 55px;
  height: 36px;
}

.envelop {
  background-position: -212px -215px;
  width: 26px;
  height: 20px;
}

.blog-btn {
  background-position: -114px -206px;
  width: 76px;
  height: 39px;
}

.elem-1 {
  background-position: -11px -205px;
  width: 96px;
  height: 39px;
}

.follow-me {
  background-position: -29px -96px;
  width: 185px;
  height: 61px;
  margin: 0 auto;
}

.search {
  background-position: -26px -160px;
  width: 108px;
  height: 23px;
}

.Categories {
  background-position: -19px -46px;
  width: 170px;
  height: 54px;
  margin: 0 auto;
}

.facebook-normal:hover,
.facebook-normal:focus, {
  background-position: -260px -14px;
  width: 25px;
  height: 23px;
}

.facebook-normal {
  background-position: -212px -13px;
  width: 25px;
  height: 23px;
}

.instagram-normal:hover,
.instagram-normal:focus {
  background-position: -162px -14px;
  width: 25px;
  height: 23px;
}

.instagram-normal {
  background-position: -112px -14px;
  width: 25px;
  height: 23px;
}

.vk-normal:hover,
.vk-normal:focus {
  background-position: -62px -13px;
  width: 25px;
  height: 23px;
}

.vk-normal {
  background-position: -12px -13px;
  width: 25px;
  height: 23px;
}
