@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/Montserrat-Regular.otf');
  font-family: 'Montserrat-bold';
  src: url('../fonts/montserrat-bold.otf');
  font-family: 'Montserrat-light';
  src: url('../fonts/montserrat-light.otf');
}

$font-mon-r: "Montserrat-regular", Helvetica, Sans-Serif;
$font-mon-b: "Montserrat-bold", Helvetica, Sans-Serif;
$font-mon-l: "Montserrat-light", Helvetica, Sans-Serif;

$font-serif-main: "Book Antiqua", Georgia, Serif;
$font-serif-sec: "Georgia", Book Antiqua, Serif;

$gold-color: #BFAD9F;
$text-color: #9A9A9A;

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
    transition: all 0.33s ease;
}

a:hover, a:focus {
  text-decoration: none;
  color: darken($text-color, 25%);
}

img {
  transition: all 0.5s ease;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: $font-serif-main;
  font-size: 1.3em;
}

p, pre {
  font-family: $font-serif-sec;
}

.container {
  max-width: 1000px;
}

.col-md-10 {
  padding: 0;
  max-width: 770px;
  width: 77%;
}

//site-header
.site-header {
  height: 200px;
  padding-top: 10%;
}

.site-header::after {
  content: "";
  display: block;
  border-top: 1px solid #ededed;
  background: url("../img/assets/h-shadow.png") no-repeat 100% 100%;
  height: 70px;
}

.logo {
  float: left;
  display: block;
  text-align: center;
}

.header-nav{
}

.site-nav {
  float: right;
  margin: 40px 30px 10px 0;
}

.site-nav > li {
  display: inline-block;
  width: 85px;
  height: 25px;
  text-align: center;
}

.site-nav > li > a {
  display: block;
  font-family: $font-mon-r;
  text-transform: uppercase;
  font-size: .9em;
}


//site main
.site-main {
  margin-top: 20px;
}

.main-article {
  margin-top: 30px;
}

.main-article pre a {
  color: $gold-color;
}

.main-article a:hover,
.main-article a:active, {
  color: darken($gold-color, 15);
}

.main-article-header {
  text-align: center;
}

article:nth-of-type(n+2)::before{
  content: '';
  background: url("../img/assets/sprites.png") no-repeat;
  background-position: -210px -42px ;
  display: block;
  margin: 10px auto;
  width: 55px;
  height: 36px;
}

.main-article-header-h1 {
  font-weight: 500;
}

.main-article-header-a {
  margin-top: .4em;
  font-size: 0.8em;
  font-weight: 400;
  color: $gold-color;
}

.main-article-content pre {
  margin-top: 1.5em;
  line-height: 1;
  font-size: .95em;
  word-wrap: break-word;
  text-align: justify;
}

.main-article-content img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 3px;
  font-size: 0;
}

.main-article-footer {
  font-family: $font-mon-r;
  padding-top: 15px;
  font-size: .9em;
}

.main-article-social-icon {
  float: left;
}

.main-article-social-icon > li {
  display: inline-block;
  padding-left: 3px;
  vertical-align: bottom;
}

.fb-like {
  display: block;
  //background: url("../img/assets/fb-like.png") no-repeat;
  width: 100px;
  height: 20px;
}

.clearfix {
  margin-top: 35px;
  clear: both;
}

.main-article-liveacomment {
  float: right;
  margin-top: 4px;
}

.article-bot-border {
  margin-top: 1em;
  border-top: 1px solid #ededed;
  height: 72px;
  width: 100%;
  background: url("../img/assets/h-shadow.png") no-repeat center;
}

.nav-buttons {
  margin-top: 20px;
  clear: both;
  ul{
    list-style: none;
  }
}

.nav-buttons::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ededed;
  background: url("../img/assets/h-shadow2.png") no-repeat 100% 100%;
  height: 60px;
}

//side-bar
.right-bar {
  margin-top: 60px;
  margin-left: 55px;
  padding: 0;
  text-align: center;
  font-family: $font-mon-r;
}

.right-bar-cat-name {
  font-family: $font-mon-l;
  font-size: .9em;
  line-height: 2;
  list-style: none;
}

.right-bar-cat-name a {
  display: block;
  cursor: pointer;
}

.right-bar-fol {
  margin-top: 30px;
}

.right-bar-social-links > li {
  display: inline-block;
  margin-left: 5px;
}

.right-bar-photo-in {
  margin-top: 40px;
  font-weight: 500;
}

.right-bar-photo-in > a {
  display: block;
  font-size: .9em;
  margin-bottom: 15px;
}

.right-bar-photo-in img {
  margin-top: 15px;
  overflow: hidden;
}

.right-bar-photo-in img:hover,
.right-bar-photo-in img:focus, {
  filter: contrast(110%);
}

.right-bar-photo-per-in {
  margin-top: 40px;
  font-weight: 500;
}

.right-bar-photo-per-in img:hover,
.right-bar-photo-per-in img:focus, {
  filter: contrast(110%);
}

.right-bar-photo-per-in a {
  display: block;
  font-size: .9em;
}

.right-bar-photo-per-in a:first-child {
  padding-left: 20px;
  padding-bottom: 15px;
}

.elem-2 {
  background: url("../img/assets/elem-2.png") no-repeat;
  background-position: 13px 6px;
}

.right-bar-photo-per-in img {
  margin-top: 15px;
}

.right-bar-contact {
  display: block;
  margin: 30px 0 0 -20px;
  line-height: 1.5;
  font-weight: 500;
  font-size: .9em;
}

.right-bar-contact::after {
  content: '';
  position: absolute;
  background: url("../img/assets/sprites.png") no-repeat;
  background-position: -201px -202px;
  width: 26px;
  height: 20px;
  margin-left: 5px;
}

.right-bar-search {
  display: block;
  margin: 30px auto 10px auto;
}

.elem-1 {
  margin: 0 auto;
  margin-top: 10px;
}

.right-bar-search-input {
  border: 1px solid #ebebeb;
  background: #f6f6f6;
  border-radius: 2px;
}

.right-bar-search-input:focus,
.right-bar-search-input:active,
.right-bar-search-input:hover {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1),
  0 0 4px rgba(0, 0, 0, 0.1);
  outline: 0;
}

//archive
.also-like {
  font-family: $font-mon-l;
  text-align: center;
}

.also-like-header {
  margin-top: -45px;
  font-family: $font-mon-r;
  color: $gold-color;
  font-weight: 400;
  text-align: center;
  font-size: .95em;
}

.also-like-header > li {
  display: inline-block;
  vertical-align: middle;
}

.also-like-item {
  display: inline-block;
  margin-top: 20px;
  margin-right: 15px;
}

.also-like-content > div:last-child {
  margin-right: 0px;
}

.also-like-item h3 {
  font-size: .8em;
  font-weight: 400;
  line-height: 3;
  text-align: center;
}

.also-like-item img {
  filter: gray;
  filter: grayscale(100%);
}

.also-like-item a:hover img,
.also-like-item img:hover {
  filter: color;
  filter: grayscale(0%);
}

// newer & older navigation buttons
.nav-buttons {
  line-height: 4;
  font-weight: 500;
}

.nav-buttons .newer {
  float: left;
  color: $gold-color;
  font-size: .9em;
}

.nav-buttons .newer:hover,
.nav-buttons .newer:focus {
  color: darken($gold-color, 25%);
}

.nav-buttons .newer::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  background-image: url("../img/assets/sprites.png");
  background-position: -308px -59px ;
  width: 9px;
  height: 7px;
}

.nav-buttons .older {
  float: right;
  color: $gold-color;
  font-size: .9em;
}

.nav-buttons .older:hover,
.nav-buttons .older:focus {
  color: darken($gold-color, 25%);
}

.nav-buttons .older::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  background-image: url("../img/assets/sprites.png");
  background-position: -358px -59px ;
  width: 9px;
  height: 7px;
}

.nav-buttons .posts-img::after {
  content: "";
  display: inline-block;
  margin: 0 5px -16px 7px;
  background-image: url("../img/assets/sprites.png");
  background-position: -266px -143px ;
  width: 107px;
  height: 39px;
}

//////////////////////////////////////footer
.site-footer {
  font-family: $font-mon-l;
  text-align: center;
  margin-top: 90px;
}

.sign {
  font-size: .7em;
  line-height: 4;
}

.right-bar-social-links::after {
  content: "";
  display: block;
  margin-bottom: 20px;

}

//////////////////////////////////////sprites
.top-hower,
.top,
.arrow-right,
.arrow-left,
.also,
.envelop,
.blog-pic,
.elem-1,
.follow-me,
.search-img,
.Categories,
.vk-h,
.vk-n,
.fb-h,
.fb-n,
.ins-n,
.ins-h,
.About_button,
.Gallery_button,
.Contact_button {
  background: url("../img/assets/sprites.png") no-repeat;
  display: block;
  transition: none;
}

.top-hower{
  background-position: -313px -96px ;
  width: 63px;
  height: 33px;
}

.top{
  background-position: -215px -97px ;
  width: 63px;
  height: 33px;
}

.arrow-right{
  background-position: -358px -58px ;
  width: 9px;
  height: 7px;
}

.arrow-left{
  background-position: -308px -58px ;
  width: 9px;
  height: 7px;
}

.also{
  background-position: -159px -145px ;
  width: 77px;
  height: 32px;
}

.envelop{
  background-position: -201px -202px ;
  width: 26px;
  height: 20px;
}

.blog-pic{
  background-position: -103px -193px ;
  width: 76px;
  height: 39px;
}

.blog-pic:hover{
  filter: contrast(130%);
}

.elem-1{
  background-position: -7px -192px;
  width: 82px;
  height: 39px;
}

.follow-me{
  background-position: -7px -82px ;
  width: 178px;
  height: 47px;
}

.search-img{
  background-position: -15px -147px ;
  width: 108px;
  height: 23px;
}

.Categories{
  background-position: -8px -33px ;
  width: 170px;
  height: 52px;
}

.vk-n:hover, .vk-n:focus,{
  background-position: -51px -1px ;
  width: 22px;
  height: 22px;
}

.vk-n{
  background-position: -1px -1px ;
  width: 22px;
  height: 22px;
}

.fb-n:hover, .fb-n:focus,{
  background-position: -251px -1px ;
  width: 22px;
  height: 22px;
}

.fb-n{
  background-position: -201px -1px ;
  width: 22px;
  height: 22px;
}

.ins-n{
  background-position: -101px -1px ;
  width: 22px;
  height: 22px;
}

.ins-n:hover, .ins-n:focus,{
  background-position: -151px -1px ;
  width: 22px;
  height: 22px;
}

.About_button{
  background-position: -306px -14px ;
  width: 85px;
  height: 22px;
}

.Gallery_button{
  background-position: -176px -256px ;
  width: 104px;
  height: 37px;
}

.Contact_button{
  background-position: -24px -262px ;
  width: 109px;
  height: 22px;
}

// comments on single post page

.comments {
  margin-top: 40px;
}

.tab-conversation, .tab-community, .user-menu, .notification-menu, .comment-count{
  display: none;}
