@media (max-width: 967px) {
  body {
  }
  //header
  .site-header > .row {
    text-align: center;
  }
  .site-nav {
  }

  .site-nav>li {
    width: 65px;
    font-size: .85em;
  }

  .logo > img {
    width: 275px;
    margin-top: 25px;
  }
  .col-md-10, .col-md-2 {
    padding-right: 0;
  }
  .main-article {
    padding: 0 45px;
  }

  .archive-header {
    margin-top: 10px;
  }

  .right-bar {
    margin-top: 10px;
    margin-left: 0;
  }

  .right-bar-photo-per-in a:first-child,
  .right-bar-photo-in a:first-child, {
    max-width: 170px;
    margin: 0 auto;
  }
}