@media (min-width:769px) {
  .header-nav .logo {
    margin-right: auto;
  }
}

@media (max-width: 414px) {

  .site-nav {
    margin-top: 20px;
  }

  .site-nav li a {
    padding: 15px 15px;
    text-align: center;
    transition: none;
  }

  .main-article {
    padding: 0 15px;
  }

  .main-article-social-icon {
    padding-top: 15px;
  }

  .main-article-readmore {
    float: none;
    width: 140px;
    margin: 0 auto;

  }

  .main-article-content .main-article-liveacomment {
    margin-left: 0;
    float: right;
  }

  .right-bar-photo-per-in a:first-child,
  .right-bar-photo-in a:first-child, {
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
  }

  .elem-2 {
    width: 180px;
  }

  .archive-header {
    margin-top: 0;
  }

}