@media (min-width:769px) {
  .header-nav .logo {
    margin-right: auto;
  }
}

@media (max-width: 400px) {

  .site-nav {
    margin-top: 20px;
  }

  .site-nav li a {
    padding: 15px 15px;
    text-align: center;
    transition: none;
  }

  .main-article {
    padding: 0 15px;
  }

  .main-article-liveacomment {
    float: left;
    clear: both;
    line-height: 4;
  }

  .right-bar-photo-per-in a:first-child,
  .right-bar-photo-in a:first-child, {
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
  }

  .elem-2 {
    width: 180px;
  }

  .archive-header {
    margin-top: 0;
  }

}